.device-details {
  background: white;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  min-width: 70%;
}

.details-table {
  padding: 5px;
}

.details-edit-button {
  float: right;
}

table {
  width: 100%;
}

  table tr td {
    padding: 10px 0px;
  }

    table tr td:first-of-type {
      font-weight: bold;
    }

.btn-back {
  background: white;
  transition: 0.2s ease-in-out;
}

  .btn-back:hover {
    background: #e4e4e4;
    transition: 0.2s ease-in-out;
  }

.red {
  color: red;
}

.green {
  color: green;
}
