<div class="device-details">

  <div class="details-header">
    <button class="btn btn-grey btn-back" (click)="goBack()" tooltip="Zurück"><fa-icon [icon]="backIcon" tooltip="Zurück"></fa-icon></button>
    <div style="clear: both"></div>
  </div>

  <div *ngIf="entry" class="details-table">

    <table>
      <tr>
        <td>Id:</td>
        <td>{{ entry.id }}</td>
      </tr>
      <tr>
        <td>Name:</td>
        <td>{{ entry.name }}</td>
      </tr>
      <tr>
        <td>DeviceTypeId:</td>
        <td>{{ entry.deviceTypeId }}</td>
      </tr>
      <tr>
        <td>TempMin:</td>
        <td>{{ entry.tempMin }}</td>
      </tr>
      <tr>
        <td>TempMax:</td>
        <td>{{ entry.tempMax }}</td>
      </tr>
      <tr>
        <td>InstallationPosition:</td>
        <td>{{ entry.installationPosition }}</td>
      </tr>
      <tr>
        <td>RotationAxisNumber:</td>
        <td>{{ entry.rotationAxisNumber }}</td>
      </tr>
      <tr>
        <td>Failsafe:</td>
        <td [ngClass]="(entry.failsafe)?'green':'red'"><fa-icon [icon]="getBoolIcon(entry.failsafe)" ></fa-icon></td>
      </tr>
      <tr>
        <td>InsertInto19InchCabinet:</td>
        <td [ngClass]="(entry.insertInto19InchCabinet)?'green':'red'"><fa-icon [icon]="getBoolIcon(entry.insertInto19InchCabinet)"></fa-icon></td>
      </tr>
      <tr>
        <td>MotionEnable:</td>
        <td [ngClass]="(entry.motionEnable)?'green':'red'"><fa-icon [icon]="getBoolIcon(entry.motionEnable)"></fa-icon></td>
      </tr>
      <tr>
        <td>SiplusCatalog:</td>
        <td [ngClass]="(entry.siplusCatalog)?'green':'red'"><fa-icon [icon]="getBoolIcon(entry.siplusCatalog)"></fa-icon></td>
      </tr>
      <tr>
        <td>SimaticCatalog:</td>
        <td [ngClass]="(entry.simaticCatalog)?'green':'red'"><fa-icon [icon]="getBoolIcon(entry.simaticCatalog)"></fa-icon></td>
      </tr>
      <tr *ngIf="entry.advancedEnvironmentalConditions != null">
        <td>AdvancedEnvironmentalConditions:</td>
        <td [ngClass]="(entry.advancedEnvironmentalConditions)?'green':'red'"><fa-icon [icon]="getBoolIcon(entry.advancedEnvironmentalConditions)"></fa-icon></td>
      </tr>
      <tr *ngIf="entry.terminalElement != null">
        <td>TerminalElement:</td>
        <td [ngClass]="(entry.terminalElement)?'green':'red'"><fa-icon [icon]="getBoolIcon(entry.terminalElement)"></fa-icon></td>
      </tr>
    </table>

  </div>

</div>
